### CONTAINER CONFIG
CONTAINER_NAME=example
HOSTNAME=example

PHPVERSION=8.1
APP_PORT=8081

### NETWORK CONFIG
IPv4=172.20.10.2
NETWORK=webapache_network
SUBNET=172.20.0.0/16
GATEWAY=172.20.0.1
DNS1=192.168.51.51
DNS2=192.168.88.1

### NFS CONFIG
NFS_ADDRESS=192.168.88.75
NFS_PATH=:/volume1/dataconfig/webapache