### CONTAINER CONFIG
CONTAINER_NAME=example
HOSTNAME=example
APPS_PORT=8081
DATA_PORT=3307

### APPLIKASI CONFIG
SERVERNAME=example.com
DOCUMENTROOT=/var/www/html
PHPVERSION=8.1
DB_HOST=mariadb

### DATABASE CONFIG
DB_ROOTPASSWORD=password
DB_APPUSER=user
DB_APPPASS=apppassword
DB_NAME=mariadb

### NETWORK CONFIG
DNS1=192.168.51.51
DNS2=192.168.88.1

### NFS CONFIG
NFS_ADDRESS=192.168.88.75
NFS_APPS_PATH=:/volume1/dataconfig/webapache
NFS_DATA_PATH=:/volume1/mysqldata/test

### DATABASE BACKUP CONFIG
BACKUP_USER=user_backup
BACKUP_PASS=RVyuEh3w3U3g1nYzSPQV6n6sNMSHMPje